:root {
    --headingFont: 'Roboto Slab', serif;

    --bodyFont: 'Courier New', Courier, monospace;
    --rose: #de7c9b;
    --lightpink: #f7c1bb;
    --bgc: #fffdf0;
    --darkgreen: #1c3a13;
    --lightgreen: #c8ffc2;
    --grey: #f2f0e6;
}
body {
    background-color: #fffdf0;
    font-family: var(--bodyFont);
    margin: 0%;
    padding: 0%;
}

nav {
    background-color: var(--bgc);
}
.navbar-brand {
    font-family: var(--headingFont);
    font-weight: 900;
}
.nav-item {
    font-family: var(--bodyFont);
}
.card-section-bg-set {
    background-image: url(./assets/3.jpg);
    background-size: cover;
    height: 500px;
}
.card-sect {
    display: flex;
    justify-content: center;
}
.row {
    margin-top: 50px;
}
.copyright {
    display: flex;
    justify-content: center;
}
.navbar-name {
    margin-left: 20px;
}
.banner {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.banner img {
    width: 70vw;
    border-radius: 50px;
}
.banner svg {
    margin-left: -10vw;
    width: 20vw;
}
.text-banner h1 {
    margin-top: 5vw;
    font-family: var(--headingFont);
    font-weight: 900;
    text-align: center;
}
.text-banner {
    display: flex;
    justify-content: center;
}

.text-banner p {
    width: 60vw;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
.card-box {
    margin: 5vw;
    background-image: url(./assets/card.jpg);
    padding: 5vw;
    border-radius: 15px;
}
.card-box h3 {
    color: var(--rose);
    font-size: large;
    font-weight: 800;
}
.card-box h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.card-box h1 {
    font-family: var(--headingFont);
    font-weight: 900;
}
.cards {
    display: flex;
    justify-content: center;
}
.card-title {
    font-family: var(--headingFont);
}
.poetryCard {
    background-color: var(--lightpink);
}
.articleCard {
    background-color: var(--bgc);
}
.blogCard {
    background-color: var(--lightgreen);
}
.poetryCard,
.articleCard,
.blogCard {
    width: 100%; /* let the col control width */
    max-width: 320px; /* your desired max size */
    min-height: 280px; /* your desired height */
}
.about-me-section {
    display: flex;
    justify-content: center;
}

.abtmeimg {
    position: relative;
    width: 30vw;
    height: 30vw; /* or whatever height you want */
    border-radius: 50%;
    display: flex;
    justify-content: center;
}

.abtmeimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    justify-content: center;
}
.text-aboutme {
    margin-top: 5vw;
}
.text-aboutme h3 {
    color: var(--rose);
    font-size: x-large;
    font-weight: 800;
}
.text-aboutme p {
    width: 50vw;
}
.text-aboutme h3:hover {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.text-aboutme h1 {
    font-family: var(--headingFont);
    font-weight: 900;
}
footer {
    background-color: var(--grey);
    margin-top: 2vw;
}
footer h1 {
    font-family: var(--headingFont);
    font-weight: 900;
}
footer h2 {
    font-family: var(--headingFont);
    font-weight: bolder;
    font-size: larger;
    margin-left: 2vw;
    color: var(--rose);
}
footer ul {
    list-style-type: none;
}

footer a {
    color: #1c3a13;
    text-decoration: none;
}
footer a:hover {
    color: #de7c9b;
    text-decoration: underline;
    text-decoration-thickness: 2px;
}
.socials {
    padding-left: 5vw;
}
.Info-abt-web p {
    font-size: small;
}
.divider {
    background-color: var(--darkgreen);
    height: 1px;
}
@media screen and (min-width: 481px) {
    .text-aboutme h3 {
        color: var(--rose);
        font-size: large;
        font-weight: 900;
    }
    .text-aboutme h1 {
        font-size: x-large;
        font-weight: 900;
    }
}
.copywrite {
    display: flex;
    justify-content: center;
}
.copywrite p {
    align-items: center;
}
.card-text {
    color: var(--darkgreen);
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4; /* Change this number to your desired line limit */
    overflow: hidden;
}
.card a {
    text-decoration: none;
    color: black;
}
